<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style/style.css}" rel="stylesheet" />
</head>
    <body>
    <p>
        <table border="1px">
            <caption>Students</caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Year of Birth</th>
                <th></th>
            </tr>
            <tr>
                <td>0</td>
                <td>Anton</td>
                <td>Litvinchuk</td>
                <td>2000</td>

            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.yearOfBirth}"></td>
                <td>
                    <form th:action="@{/student}" th:method="DELETE">
                        <input type="hidden" value="id" th:text="${student.id}">
                        <button type="submit" >Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </p>
    <p><a href="/student/new-student" methods="GET">Create new student</a> </p>
    </body>
</html>